@import 'bootstrap';


body {
    background-color:rgb(0, 56, 0);
    font-family: 'IBM Plex Mono', monospace;
}

nav {
    background-color: rgba(0, 0, 0, 0.405);
}

 footer{
    background-color:rgb(141, 101, 0);
 }

 a{
    color: yellow;
 }

 .red_color{
    color: rgb(226, 0, 0)!important;
 }